{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
            <div class="section">

                <h2>All Quotes</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Stock result for {{ name }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                name: {{ name }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                price: {{ price }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                               symbol: {{ symbol }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
{% endblock %}
